* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #ebebeb;
    font-family: 'Poppins', 'Helvetica', sans-serif;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

ul{
    display: flex;
    gap: 80px;
    list-style: none;

}
li a{
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        color: #000000;
}
li a:hover{
    color: #fff;
    transition: .5s ease-out;
    background: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 5px;
}
.logo a{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: dodgerblue;
}
.logo a:hover{
    color: #fff;
    transition: .5s ease-in-out;
    background: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 5px;
}
.hero{
    background-image: url('../IMAGES/printing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.center h1{
    color: #fff;
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 15px;
}
.center p{
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 20px;
    opacity: 0.8;
}
.center button{
    background: dodgerblue;
    padding: 15px 35px;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}
.center button:hover{
    background: #000000;
    color: #fff;
    transition: .5s ease-in-out;
}


@media screen and (max-width: 900px) {
    .hero{
        flex-direction: column;
        gap: 80px;
    }
    img{
        height: 100%;
        width: 450px;
    }
}