*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6; /*space between elements */
    background: #f5f3f3;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 15px 40px;
    position: sticky; /* stays on top when scrolling*/
    top: 0; /* clears margin*/
}
ul{
    display: flex;
    gap: 40px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}
li a:hover{
    text-decoration: underline;
    text-underline-offset: 7px;
    transition: 3s ease-in-out;
}
.logo{
    font-weight: bold;
    color: dodgerblue;
    font-size: 16px;
    padding: 14px;
    border-radius: 4px;
}
.contact-modal{
    position: fixed;
    top: 0; /* clears margin */
    left: 0; /* clears margin */
    width: 100vw; /* brings modal to the center of page */
    height: 100vh; /* brings modal to the center of page */
    background-color: rgba(0, 0, 0, 0.3); /* changes background of the page*/
    pointer-events: none; /* fix clicking through the modal */
    transition: opacity 0.3s ease-in;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.contact-modal.show{
    opacity: 1;
    pointer-events: auto; /* Enables clickable buttons */
}
.modal-form{
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.modal-form label{
    display: block;
    margin-bottom: 3px;
}
.modal-form input{
    width: 100%;
    border-radius: 7px;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 1px solid #cecdcd;
    font-family: 'Poppins', sans-serif;
}
.textarea{
    width: 100%;
    height: 140px;
    border-radius: 7px;
    border: 1px solid #cecdcd;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
}
.form-header h2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.form-header p{
    font-size: 12px;
    text-align: center;
    opacity: .8;
    margin-bottom: 20px;
}
.form-btn{
    display: flex;
    gap: 30px;
}
.submit-btn{
    width: 100%;
    padding: 10px;
    background: dodgerblue;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}
.submit-btn:hover{
    opacity: .8;
}
.privacy-policy{
    text-align: center;
    font-size: 12px;
    opacity: .8;
}
.asterix{
    color: tomato;
}
.text-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
}
.text-content h1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 15px;
}
.text-content p{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.hero-btn{
    display: flex;
    gap: 20px;
}
.span-p{
    color: dodgerblue;
}
.explore-services{
    background: dodgerblue;
    padding: 10px 30px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
.explore-services:hover{
    opacity: 0.6;
    transition: .3s ease-out;
}
.contact-us{
    padding: 10px 30px;
    cursor: pointer;
    border: 1px solid dodgerblue;
    border-radius: 6px;
    color: dodgerblue;
    font-weight: bold;
    font-size: 16px;
}
.contact-us:hover{
    background-color: dodgerblue;
    color: #fff;
    opacity: .6;
    transition: .3s ease-in-out;
}
.fa-phone-flip{
    margin-left: 10px;
}
.top-p{
    text-align: center;
    color: tomato;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 30px;
}
.main-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 80px;
    flex-wrap: wrap;
}
.card-container{
    background: #fff;
    padding: 30px;
    width: 100%;
    border-radius: 12px;
    width: 500px;
    border-top: 2px solid tomato;
}


@media only screen and (max-width: 992px) {
  .text-content {
    text-align: center;
  }
  .hero-btn{
    flex-direction: column;
  }
}
